@import "tailwindcss";

:root {
    --color-primary: #1976D2;
    --color-primary-light: #42A5F5;
    --color-primary-dark: #0D47A1;
    
    --color-accent: #FF4081;
    --color-accent-light: #FF80AB;
    --color-accent-dark: #C51162;
    
    --color-background: #FFFFFF;
    --color-surface: #F5F5F5;
    --color-error: #D32F2F;
    
    --color-text-primary: #212121;
    --color-text-secondary: #757575;
    --color-text-disabled: #9E9E9E;
    --color-text-light: #FFFFFF;
    --color-text-dark: #212121;
    
    --color-border: #E0E0E0;
    --color-divider: #BDBDBD;
    
    --color-shadow: rgba(0, 0, 0, 0.2);
    
    --color-success: #4CAF50;
    --color-warning: #FFC107;
    --color-info: #2196F3;
}

 body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-primary);
    background-color: var(--color-background);
  }

  @layer components {
  .nav-link {
    @apply text-[var(--color-text-light)] no-underline font-medium;
  }
  
  .nav-link:hover {
    @apply text-[var(--color-accent-light)];
  }
}
